{% extends 'base_template.html' %}
{% block title %}Confirm {{ parcel.track_n }} | LL {% endblock %}
{% block toggle_parcel_new %}active{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container" style="margin-bottom: 30px;">
    <div class="btn-line">
        <a href="{% url 'corelogistics:new_parcel' %}" type="button" class="btn btn-default" style="margin: 20px 0 20px 0;">
            <span class="glyphicon glyphicon-chevron-left left"></span>Create a new Parcel
        </a>
        <h3 style="margin-left: 30px;">Please confirm the Parcel below to start the shipment process</h3>
    </div>
    <div class="row container-detail" style="background-color: rgba(233,233,233,0.6); border-radius: 5px;;">
        <div class="col-md-4">
            <table class="table table-hover">
                <h3>Parcel Information</h3>
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tracking Number</td>
                        <td>{{ parcel.track_n }}</td>
                    </tr>
                    <tr>
                        <td>Confirmation Status</td>
                        <td>{{ parcel.confirmed }}</td>
                    </tr>
                    <tr>
                        <td>ID Verification</td>
                        <td>{{ parcel.r_id_req }}</td>
                    </tr>
                    <tr>
                        <td>parcel Dimensions (L x W x H)</td>
                        <td>{{ parcel.p_depth }}, {{ parcel.p_width }}, {{ parcel.p_height }}</td>
                    </tr>
                    <tr>
                        <td>parcel Weight</td>
                        <td>{{ parcel.weight }}</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>{{ parcel.price }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
             <table class="table table-hover">
                <h3>Destination Information</h3>
                <thead>
                    <th>Attribute</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Destination Address</td>
                        <td>{{ parcel.recipient_address }}</td>
                    </tr>
                    <tr>
                        <td>Destination City & Zip</td>
                        <td>{{ parcel.recipient_zip }} {{ parcel.recipient_city }}</td>
                    </tr>
                    <tr>
                        <td>Recipient</td>
                        <td>{{ parcel.recipient_surname }}, {{ parcel.recipient_first_name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
             <table class="table table-hover">
                <h3>Origin Information</h3>
                <thead>
                    <th>Attribute</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Origin Address</td>
                        <td>{{ parcel.sender_address }}</td>
                    </tr>
                    <tr>
                        <td>Origin Zip & City</td>
                        <td>{{ parcel.sender_zip }} {{ parcel.sender_city }}</td>
                    </tr>
                    <tr>
                        <td>Sender</td>
                        <td>{{ parcel.sender_surname }}, {{ parcel.sender_first_name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="btn-line">
        <form method="get"></form>
            <a href="{% url 'corelogistics:confirm_parcel' parcel.pk %}">
                <input type="hidden" value="confirm" id="confirm" name="confirm">
                <button type="submit" class="btn btn-success" style="margin: 0 25px 0 0;">Confirm and Ship</button>
            </a>
        <form method="get">
            <a href="{% url 'corelogistics:confirm_parcel' parcel.pk %}">
                <input type="hidden" value="cancel" id="cancel" name="cancel">
                <button type="submit" class="btn btn-danger">Cancel Shipment</button>
            </a>
        </form>
    </div>
</div>
{% endblock %}