{% extends 'base_template.html' %}
{% load staticfiles %}
{% block title %}Search{% endblock %}
{% block toggle_track %}active{% endblock %}
{% block content %}
    <img src="{% static 'images/truck_in_a_rush.jpeg' %}" class="bg-img" alt="Rushing Truck"/>
        <div class="container">
            <div class="row">
                <div class="col-lg-8" style="margin-left: 50%; transform: translate(-50%, 0);">
                    <div class="well well-lg" style="margin-top: 20px; align-self: center;">
                        <form action="{% url 'corelogistics:track' %}" method="get" class="form">
                            <div class="form-group">
        <input type="text" name="term" class="form-control" id="term" placeholder="Enter your Tracking #..." required>
                            </div>
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-search"></span>Track Parcel
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if parcel %}
            {% for parcel in parcel %}
            <div class="row container-detail" style="width: 80%; margin-left: 50%; transform: translate(-50%, 0); background-color: rgba(255,255,255,0.8);">
                <div class="col-md-12">
                    <div class="progress prog_bar">
                        <div class="progress-bar progress-bar-striped active strp" role="progressbar" aria-valuenow="{% if parcel.status == 'Created' %}20{% elif parcel.status == 'Fetched' %}40{% elif parcel.status == 'In Hub Inbound' %}60{% elif parcel.status == 'In Transit' %}80{% elif parcel.status == 'Delivered' %}100{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100" style="width:{% if parcel.status == 'Created' %}20%{% elif parcel.status == 'Fetched' %}40%{% elif parcel.status == 'In Hub Inbound' %}60%{% elif parcel.status == 'In Transit' %}80%{% elif parcel.status == 'Delivered' %}100%{% else %}0%{% endif %}">
                            {{ parcel.status }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <table class="table table-hover">
                        <h3>Parcel Information</h3>
                        <thead>
                            <tr>
                                <th>Attribute</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tracking Number</td>
                                <td>{{ parcel.track_n }}</td>
                            </tr>
                            <tr>
                                <td>Confirmation Status</td>
                                <td>{{ parcel.confirmed }}</td>
                            </tr>
                            <tr>
                                <td>ID Verification</td>
                                <td>{{ parcel.r_id_req }}</td>
                            </tr>
                            <tr>
                                <td>Parcel Dimensions (L x W x H)</td>
                                <td>{{ parcel.p_depth }}, {{ parcel.p_width }}, {{ parcel.p_height }}</td>
                            </tr>
                            <tr>
                                <td>Parcel Weight</td>
                                <td>{{ parcel.weight }}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{ parcel.status }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                     <table class="table table-hover">
                        <h3>Destination Information</h3>
                        <thead>
                            <th>Attribute</th>
                            <th>Value</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Destination Address</td>
                                <td>{{ parcel.recipient_address }}</td>
                            </tr>
                            <tr>
                                <td>Destination City & Zip</td>
                                <td>{{ parcel.recipient_zip }} {{ parcel.recipient_city }}</td>
                            </tr>
                            <tr>
                                <td>Recipient</td>
                                <td>{{ parcel.recipient_surname }}, {{ parcel.recipient_first_name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                     <table class="table table-hover">
                        <h3>Origin Information</h3>
                        <thead>
                            <th>Attribute</th>
                            <th>Value</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Origin Address</td>
                                <td>{{ parcel.sender_address }}</td>
                            </tr>
                            <tr>
                                <td>Origin Zip & City</td>
                                <td>{{ parcel.sender_zip }} {{ parcel.sender_city }}</td>
                            </tr>
                            <tr>
                                <td>Sender</td>
                                <td>{{ parcel.sender_surname }}, {{ parcel.sender_first_name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="margin-bottom: 250px;"></div>
            {% endfor %}
        {% else %}
        <div style="height: 550px;"></div>
        {% endif %}
{% endblock %}